<header class="form-header">
    <article class="form-header_content">
      <span class="form-title">Average Calculator</span>
      <p class="form-info">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eum
        consectetur explicabo, molestias, hic aut perferendis, deleniti
        dolores repellendus natus numquam. Qui laborum alias eligendi, ab
        voluptas itaque? Exercitationem, minima? Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Suscipit veniam sit quisquam
        vero quod. Eum velit excepturi id ratione, facere aut sequi
        architecto tempora a numquam odit quidem totam exercitationem.
      </p>
    </article>
    <figure class="form-header_img">
      <img
        src="https://img.freepik.com/free-vector/calculator-concept-illustration_114360-2686.jpg?w=2000"
        alt=""
      />
    </figure>
  </header>