<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            /* width: 100vw; */
            height: 100vh;
        }
        div{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        div h1{
            color: rgb(152, 149, 149);
        }
    </style>
</head>
<body>
    <div>
        <h1>Not Found - 404</h1>
    </div>
</body>
</html>